<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Streeplijst</title>
  <script src="vue.js"></script>
  <script src="dragtoscroll.min.js"></script>
  <script type="module" src="index.js"></script>
  <link rel="stylesheet" href="index.css">
  <link rel='shortcut icon' type='image/jpg' href='favicon.ico'/>
</head>
<body>
  <div id='main' >
    <!-- Selectors -->
    <div id='selectors'>
      <selector
        v-for="name, key in selectors"
        v-bind:key=key
        v-bind:id=key
        v-bind:name=name
        v-bind:selected=selected
        v-on:selector-update='selectorUpdate'
      ></selector>
    </div>
    <!-- Strepen -->
    <streeplijst
      v-if="selected == 0"
    ></streeplijst>
    <!-- Profiel -->
    <profiles
      v-if="selected == 1"
    ></profiles>
    <!-- Voorraad -->
    <stock
      v-if="selected == 2"
    ></stock>
    <!-- Betalingen -->
    <paymentoverview
      v-if="selected == 3"
    >
    </paymentoverview>
    <!-- Statistieken -->
    <metrics
      v-if="selected == 4"
    >
    </metrics>
  </div>
</body>
</html>